.wrap
	.header
		.logo
				img(src="/images/is_logo_2013_1.png" width="200px")
		.title
			h1= title
			p Welcome to #{title}
	hr

	.container
		.left
			왼쪽
	
		.center
			중앙
	
	hr
	
	.footer
		.copyright
			p Copyright(c)2016 DropTheBit All rights reserved
